body {
  background-color: #f9f7fe;
  font-family: Arial, Helvetica, sans-serif;
}
div.container {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 40px 70px rgba(65, 50, 100, 0.09);
  margin: 60px auto;
  max-width: 700px;
  padding: 30px;
}
.logo {
  margin-top: 10px;
  width: 145px;
}

main {
  padding: 30px 0;
}

h1 {
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 40px;
  color: #272142;
}

p {
  color: rgb(158, 157, 157);
  font-size: 16px;
  position: relative;
  top: -18px;
}

p strong {
  color: #e4497d;
  font-weight: 600;
  line-height: 2;
}

.enter-city {
  background-color: #f9f7fe;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  margin-top: 30px;
  padding: 15px;
  width: 70%;
}

.search-button {
  background-color: #885df1;
  border: none;
  border-radius: 6px;
  color: #ffffff;
  font-size: 16px;
  margin-left: 5px;
  padding: 15px 50px;
}

.current-weather {
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 80px;
  color: #272142;
  display: flex;
  justify-content: end;
  position: relative;
  top: -150px;
  right: 20px;
}
.weather-icon {
  font-size: 55px;
  position: relative;
  top: 20px;
  right: 20px;
}
.unit {
  font-size: 30px;
  position: relative;
  top: 25px;
}
.weatherForecast {
  position: relative;
  top: -90px;
}
ul {
  color: rgb(158, 157, 157);
  font-size: 18px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  text-align: center;
  line-height: 2;
}
li span {
  color: #ee6794;
}
li strong {
  color: #e4497d;
}
footer {
  color: rgb(158, 157, 157);
  font-size: 14px;
  text-align: center;
  position: relative;
  top: -50px;
}
a {
  color: #885df1;
}
