body {
  background-color: #f9f7fe;
  font-family: Arial, Helvetica, sans-serif;
}
div.container {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 40px 70px rgba(65, 50, 100, 0.09);
  margin: 60px auto;
  max-width: 600px;
  padding: 30px;
}
.weathrly-app {
  display: flex;
}
.logo {
  margin-top: 10px;
  width: 100px;
}

.weathrly {
  color: #630369;
  font-size: 28px;
  margin-left: 10px;
  position: relative;
  top: 22px;
}

main {
  padding: 30px 0;
}

.city-search-form {
  display: flex;
  justify-content: baseline;
}
.enter-city {
  background-color: #fdf7da;
  border: none;
  border-radius: 6px;
  color: #257ea6;
  font-family: "Merienda", cursive;
  font-size: 16px;
  font-weight: 700;
  margin-left: 30px;
  margin-top: 30px;
  padding: 10px;
  width: 58%;
}
input::placeholder {
  color: #257ea6;
}

.search-button {
  background-color: #0fa19c;
  border: none;
  border-radius: 6px;
  color: #ffffff;
  font-family: "Merienda", cursive;
  font-size: 18px;
  margin-left: 10px;
  margin-right: 30px;
  padding: 9px 25px;
}

h1 {
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 44px;
}
h2 {
  font-family: "Merienda", cursive;
  color: #630369;
}
#city-output {
  color: #f83e01;
}

.description p {
  color: #257ea6;
  font-family: "Merienda", cursive;
  font-size: 16px;
  font-weight: 600;
  align-items: center;
}

.description p strong {
  color: #b0558a;
  font-weight: 600;
  line-height: 2;
}

.today {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 30px;
}
.current-weather {
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 80px;
  color: #272142;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 30px;
}
.temperature {
  display: flex;
  align-items: flex-end;
}
#temperature {
  color: #257ea6;
}
#unit {
  color: #257ea6;
  font-size: 30px;
  position: relative;
  top: -50px;
}
#icon {
  transform: scale(1.5);
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
}
#description {
  color: #f83e01;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.5;
}

.weather-forecast {
  display: flex;
  font-family: "Merienda", cursive;
  justify-content: space-around;
  margin-top: 70px;
}

.weather-forecast-date {
  text-align: center;
  color: #b0558a;
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 10px;
}

.weather-forecast-icon {
  width: 85px;
  display: block;
  margin: 0 auto;
}

.weather-forecast-temperatures {
  color: #3d8fb5;
  display: flex;
  font-size: 18px;
  justify-content: center;
  margin-top: 10px;
  text-align: center;
}

.weather-forecast-temperatures strong {
  color: #257ea6;
}
.weather-forecast-temperature {
  padding: 0 6px;
}

.footer {
  color: #024651;
  font-size: 14px;
  margin-top: 40px;
  text-align: center;
}

.footer a {
  color: #0fa19c;
}
